body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQquZVfbCsiUAAY6Anrv8BuxQ1rHWNxp_mZ-AOhVZwwhw&s=10);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 600px;
}